body {
    background-color: #171717;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #121212;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #171717;
  }