<section class="hero spad">  
    <div class="gew-description">
       <h1>Gew technology</h1>
    </div>
</section>

<div class="section-title">
    <span>Our Software</span>
    <h2>What We Offer</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy</p>
</div>

<div class="cards-bg">
        <div class="col-lg-3 col-md-6 col-sm-6">
           <div class="services__item">
              <img src="img/services/services-1.png" alt="">
              <h5>Lorem</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
           <div class="services__item">
              <img src="img/services/services-2.png" alt="">
              <h5>Lorem</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
           <div class="services__item">
              <img src="img/services/services-3.png" alt="">
              <h5>Lorem</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
        </div>     
</div>